# Environments
venv/
env/
.env

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# PyInstaller
build/
dist/
*.spec

# Testing
pytest_out.txt
pytest_output.txt
.pytest_cache/

# OS/IDE
.DS_Store
.vscode/
.idea/

# Large binaries that shouldn't be strictly versioned
tesseract_bin/